
  <div class="carousel-wrapper container">

    <div class="left-outer">
        <div class="left-inner">
            
            <img class="left-roll" src="images\rollLeft.png">
            <img class="left-roll-cover" src="images\coverleft.png">
        </div>
      </div>

          <div class="center-outer">
        <div class="center-inner">
            <img class="center-img" src="images\centre.png">
            <img class="center-img-cover" src="images\centrecover.png">
        </div>
        
      </div>

      <div class="right-outer">
          <div class="right-inner">
              
              <img class="right-roll" src="images\rollRight.png">
              <img class="right-roll-cover" src="images\coverright.png">
          </div>
        </div>

      
</div>
<button id="car-left">left</button><button disabled id="car-right">right</button>
  <hr>